<div class="hs_header">
  <div class="col-xs-2 logo"><%= link_to 'HeartApp', searchhs_path, style: 'color:#FFFFFF;' %><br />
  <h4><i>Filter, Search, Results.</i></h4>
  </div>
</div>
<br>
<% flash.each do |name, message| %>
  <div class="<%= flash_class(name) %>">
    <%= message %>
  </div>
<% end %>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Name </th>
      <th>Set </th>
      <th>Cost </th>
      <th>Description </th>
      <th>Health </th>
      <th>Attack </th>

    </tr>
  </thead>

  <tbody>
    <% for card in @filtered2 do %>
      <tr>
        <td><%= link_to card.name,cardinfohs_path(card.id_api,:cost => params[:cost])%>&nbsp</td>
        <td><%= card.set %>&nbsp</td>
        <td><%= card.cost %><%= image_tag "ManaCrystalIcon.png",size: "20x20"%></td>
        <td><%= card.description %></td>
        <td><strong><%= card.health %><%= image_tag "HealthCrystalIcon.png",size: "20x20"%><strong></td>
        <td><strong><%= card.attack %><%= image_tag "AttackCrystalIcon.png",size: "20x20"%><strong></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= will_paginate @filtered2 %>
<br>

<div class="btn-group">
  <a  href = "/searchhs" class="btn btn-primary " > Back to Search </a>  
</div>
<br><br>

