<body class="background">


<h1>Holaaa</h1>
	<%= form_tag '', method: "get", :class => "form-inline" do %>
	    
	    <%= label_tag :name %>
	    <%= text_field_tag :name,"",class: "form-control" %><br>
	    
		<%= label_tag :set %>
		<%= text_field_tag :set ,"",class: "form-control"%><br>

		<%= label_tag :cost %>
		<%= text_field_tag :cost ,"",class: "form-control"%><br>

		<%= submit_tag "Search",class: "btn btn-default" %>

	<% end %>
</p>
</body>