<div class="hs_header">
  <div class="col-xs-2 logo"><%= link_to 'HeartApp', searchhs_path, style: 'color:#FFFFFF;' %><br />
  <h4><i>Filter, Search, Results.</i></h4>
  </div>
</div>
<br>

<% flash.each do |name, message| %>
  <div class="<%= flash_class(name) %>">
    <%= message %>
  </div>
<% end %>

<div id="search">
  <h1>What's the <b>maximum cost</b> you can afford?</h1>

	<%= form_tag '/resultshs', method: "get", :class => "form-inline" do %>
    <div class="form-group">
		  <%= number_field_tag :cost ,"",required: true, min: 0 , class: "form-control", placeholder: "Max Cost..."%>
    </div>
    <br /><br />

    <div class="form-group" >

    <input list="class_options" name="classes" class="form-control", placeholder="Class...">
    <datalist id="class_options">
      <option value="Mage">
      <option value="Paladin">
      <option value="Neutral">
      <option value="Hunter">
      <option value="Rogue">
      <option value="Warrior">
      <option value="Shaman">
      <option value="Warlock">
      <option value="Priest">
    </datalist>

    </div>

    <br /><br />
	<%= submit_tag "Search", class: "btn btn-primary" %>
	<% end %>
</div>






