<div class="mtg_header">
  <div class="col-xs-2 logo"><%= link_to 'MTGApp', searchmtg_path, style: 'color:#FFFFFF;' %><br />
  <h4><i>Smooth like magic.</i></h4>
  </div>
</div>
<br>

<% flash.each do |name, message| %>
  <div class="<%= flash_class(name) %>">
    <%= message %>
  </div>
<% end %>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Name </th>
      <th>Mana </th>
      <th>Description </th>
     

    </tr>
  </thead>

  <tbody>
    <% for card in @filtered do %>
      <tr>
       <td><%= link_to card.name,cardinfomtg_path(card.id)%>&nbsp</td>
        <td><%= card.manacost %>
        <td><%= card.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= will_paginate @filtered %>
<br>

<div class="btn-group">
  <a  href = "/searchmtg" class="btn btn-primary " > Back to Search </a>  
</div>
<br><br>

