<div class="mtg_header">
  <div class="col-xs-2 logo"><%= link_to 'MTGApp', searchmtg_path, style: 'color:#FFFFFF;' %><br />
  <h4><i>Smooth like magic.</i></h4>
  </div>
</div>
<br>

<% flash.each do |name, message| %>
  <div class="<%= flash_class(name) %>">
    <%= message %>
  </div>
<% end %>

<div id="search">
  <h1>What's are the <b>mana's </b> you have?</h1>

	<%= form_tag '/resultsmtg', method: "get", :class => "form-inline" do %>
    <div class="form-group">
      <div>
        <%= render 'select' %>
        <br />
        <%= image_tag "Blue_Mana.png"%>
        <%= number_field_tag :blue_cost ,"", min: 0 , value: 0, class: "form-control"%> <br>
        <%= image_tag "Green_Mana.png"%>
        <%= number_field_tag :green_cost ,"", min: 0 , value: 0, class: "form-control"%> <br>
        <%= image_tag "Red_Mana.png"%>
        <%= number_field_tag :red_cost ,"", min: 0 , value: 0, class: "form-control"%> <br>
        <%= image_tag "White_Mana.png"%>
        <%= number_field_tag :white_cost ,"", min: 0 , value: 0, class: "form-control"%> <br>
        <%= image_tag "Black_Mana.png"%>
        <%= number_field_tag :black_cost ,"", min: 0 , value: 0, class: "form-control"%> <br>
      </div>
    </div>
    <br /><br />
    <br /><br />
	<%= submit_tag "Search", class: "btn btn-primary" %>
	<% end %>
</div>