<!DOCTYPE html>
<html>
<head>
  <title>HeartApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<div class="header">
    <div class="col-xs-2 logo">HeartApp<br />
      <h4><i>Filter, Search, Results.</i></h4>
    </div>
</div>
<body class="background">
<br />
<% flash.each do |name, message| %>
  <div class="<%= flash_class(name) %>">
    <%= message %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
